.menu{
	width: 100%;
	height: 90px;
	background-color: rgba(0,0,0,0.0);
	}

body{
	margin:0;
	padding:0;
	}
.bgimg{
	background-image: url('F:HTML WEBSITE/Images/R8.jpg');
	background-size: 100% 100%;
	width:100%;
	height:100vh;
}
.rightmenu{
	width: 75%;
	float: right;
}


.rightmenu ul{
	margin-left: 250px;

}

.rightmenu ul li {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height:90px;
	margin-left: 40px;
	font-family:sans-serif;
}


.rightmenu ul li a:hover{
	color: YELLOW ;
	
}


.bcolor a{
	color: white;
	text-decoration: none;
}











.carousel
{
	transform:translateY(-55px);
	height:500px;
	perspective:600px;
}
.carousel .carousel-item
{
	width:400px;
	font-family:Edwardian Script ITC;
}

.carousel .carousel-item img
{
	width:100%;
}
.carousel .carousel-item h3
{
	margin:-5px 0 0;
	padding:0;
	background:#fff;
	box-sizing:border-box;
	padding:10px 5px;
	font-weight:bold;
	font-size:2em;
	text-align:center;
}
























