.menu{
	margin-top:0;
	width: 100%;
	height: -40px;
	background-color: rgba(0,0,0,0);
	}
.leftmenu{
	width: 25%;
	line-height: 20px;
	float: left;
	
	}
.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	margin-top:40;
	font-size: 40px;
	font-family: Edwardian Script ITC;
	}
.leftmenu h4:hover{
	color: #FF1493;
	}
.rightmenu{
	margin-top:35;
	width: 75%;
	float: right;
	}
.rightmenu ul{
	margin-left: 250px;
	}
.rightmenu ul li {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height:50px;
	margin-left: 40px;
	font-family:sans-serif;
	text-decoration:none;
	}
.rightmenu ul li a:hover{
	color:yellow ;
	}
.bcolor a{
	color:white;
	text-decoration: none;
	}

*
{
	margin:0;
	padding:0;
	font-family:consoleas;
	box-sizing:border-box;
}
body #b{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	flex-direction:column;
}
body{background:#050801;}

#b a{
	position:absolute;
	margin-left:150px;
		
}
.last{
	margin-top:-175px;
	margin-left:400px;
}
.body2 a{
	Position:relative;
	display:inline-block;
	padding:25px 30px;
	margin:d40px 0;
	color:#03e9f4;
	font-size:24px;
	text-decoration:none;
	text-transform:uppercase;
	overflow:hidden;
	transition:0.5s;
	letter-spacing:4px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
.body2 a span:nth-child(1)
{
	filter:hue-rotate(290deg);

}
.body2 a span:nth-child(3)
{
	filter:hue-rotate(110deg);

}

.body2 a:hover{
	background:#03e9f4;
	color:#050801;
	box-shadow:0 0 40px #03e9f4;
		   0 0 200px #03e9f4;
		   0 0 400px #03e9f4;
	           0 0 800px #03e9f4;

}
.body2 a span{
	position:absolute;
	display:block;
}
.body2 a span:nth-child(1)
{
	top:0;
	left:-100%;
	width:100%;
	height:2px;
	background:linear-gradient(90deg,transparent,#03e9f4);
	animation:animate1 1s linear infinite;
}	

@keyframes animate1
{
	0%
	{
	left:-100%;
	}
	50%,100%
	{
	left:100%;
	}

}

.body2 a span:nth-child(2)
{
	top:-100%;
	right:0;
	width:2px;
	height:100%;
	background:linear-gradient(180deg,transparent,#03e9f4);
	animation:animate2 1s linear infinite;
	animation-delay:0.25s;
}	

@keyframes animate2
{
	0%
	{
	top:-100%;
	}
	50%,100%
	{
	top:100%;
	}

}

.body2 a span:nth-child(3)
{
	bottom:0%;
	right:-100%;
	width:100%;
	height:2px;
	background:linear-gradient(270deg,transparent,#03e9f4);
	animation:animate3 1s linear infinite;
	animation-delay:0.5s;
}	

@keyframes animate3
{
	0%
	{
	right:-100%;
	}
	50%,100%
	{
	right:100%;
	}

}

.body2 a span:nth-child(4)
{
	bottom:-100%;
	left:0;
	width:2px;
	height:100%;
	background:linear-gradient(360deg,transparent,#03e9f4);
	animation:animate4 1s linear infinite;
	animation-delay:0.75s;
}	

@keyframes animate4
{
	0%
	{
	bottom:-100%;
	}
	50%,100%
	{
	bottom:100%;
	}

}























